<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suke.czx.modules.goods.dao.ProductCartItemMapper">
  <resultMap id="BaseResultMap" type="com.suke.czx.modules.goods.entity.ProductCartItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cart_id, product_desc, product_img, product_name, price, product_id, supplier_id, 
    sku_id, number, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_cart_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_cart_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suke.czx.modules.goods.entity.ProductCartItem">
    insert into product_cart_item (id, cart_id, product_desc, 
      product_img, product_name, price, 
      product_id, supplier_id, sku_id, 
      number, created_at, updated_at
      )
    values (#{id,jdbcType=INTEGER}, #{cartId,jdbcType=INTEGER}, #{productDesc,jdbcType=VARCHAR}, 
      #{productImg,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{productId,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suke.czx.modules.goods.entity.ProductCartItem">
    insert into product_cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
      <if test="productImg != null">
        product_img,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cartId != null">
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productImg != null">
        #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suke.czx.modules.goods.entity.ProductCartItem">
    update product_cart_item
    <set>
      <if test="cartId != null">
        cart_id = #{cartId,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productImg != null">
        product_img = #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suke.czx.modules.goods.entity.ProductCartItem">
    update product_cart_item
    set cart_id = #{cartId,jdbcType=INTEGER},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      product_img = #{productImg,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>